body {
	background-color: #290F1D;
	color: #8D4163;
	direction: rtl;
	font-family: "DejaVu Sans", tahoma, serif;
	font-size: 10pt;
	text-align: center;
}

.main {
	margin-left: auto;
	margin-right: auto;
	width: 750px;
	text-align: right;
}

.aval {
	background-color: white;
	border-radius: 10px 10px 10px 10px;
	color: black;
	padding: 20px;
	text-align: justify;
}

.aval2 {
	background-color: white;
	border-radius: 10px 10px 10px 10px;
	color: black;
	padding: 20px;
	height: 225px;
	text-align: justify;
}

.puzzle {
	color: black;
	font-size: 10pt;
	text-align: justify;
}

.right,left {
	height: 100%;
}

.note {
	font-size: 10pt;
	color: black;
	text-align: justify;
	border-style: solid;
	border-width: 1px;
	border-color: #00CC11;
	border-spacing: 7px;
	border-radius: 8px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	padding: 5px;
}

.index {
	font-size: 10pt;
	border-spacing: 0px;
	padding-right: 20px;
	padding-left: 20px;
	width: 99%;
	margin-left: auto;
	margin-right: auto;
}

.left {
	width: 150px;
	background-color: #00004B;
	border-radius: 10px;
	text-align: center;
}

.phn {
	text-align: center;
	border-spacing: 0px;
	padding: 0px;
	font-size: 8pt;
	width: 175px;
	float: left;
	padding-top: 43px;
}

.phn1 {
	text-align: center;
	border-spacing: 0px;
	padding: 0px;
	font-size: 8pt;
	width: 180px;
	float: left;
	margin-top: -15px;
	direction: rtl;
}

img.phn {
	border-color: black;
	width: 30px;
	height: 30px;
}

pre {
	direction: ltr;
	text-align: left;
	background-color: #FFE5FF;
	font-size: 9pt;
	font-family: "Courier New", Courier, mono, serif;
}

h1,h2,h3,h4 {
	font-family: b titr, b koodak;
	text-align: right;
	color: #290F1D;
	margin-bottom: -10px;
}

h1 {
	font-size: 18pt;
	margin-top: 0.6em;
	line-height: 1.1em;
}

h2 {
	font-size: 15pt;
	margin-top: 0px;
}

h3 {
	font-size: 13pt;
	line-height: 1.2em;
}

h4 {
	font-size: 11pt;
}

h4.note {
	margin-top: 0px;
}

.indexright {
	padding-bottom: 15px;
	padding-top: 15px;
	vertical-align: middle;
	text-align: right;
	float: right;
}

.toc-high {
	background-color: #FFE5FF;
	border-radius: 10px 10px 10px 10px;
	height: auto;
}

.indexleft {
	padding-bottom: 15px;
	padding-top: 15px;
	vertical-align: middle;
	text-align: left;
}

.top {
	font-size: 8pt;
}

th {
	font-family: b titr, b koodak;
}

a {
	text-decoration: none;
}

a:link,a:visited {
	color: #FFCCC1;
	font-family: tahoma;
}

a.index:link,a.index:visited {
	color: #2A141E;
	/* 	font-size: 14px; */
}

a.index:hover {
	text-decoration: underline;
}

a.content:link,a.content:visited {
	color: #660000;
}

a.content:hover {
	color: #660000;
	background-color: #FFE5FF;
}

ol {
	padding-right: 30px;
	direction: rtl;
	text-align: justify;
}

ol li {
	margin-bottom: 10px;
	text-align: justify;
}

ul {
	padding-right: 30px;
}

ul li {
	list-style-type: square;
	margin-bottom: 10px;
	text-align: justify;
}

button {
	font-size: 7pt;
	height: 16px;
	vertical-align: top;
	background-color: #FFCC44;
	color: black;
}

.rate {
	background-color: #00004B;
	color: white;
	direction: ltr;
	font-size: 9pt;
	float: left;
	text-align: center;
	width: 135px;
	border-radius: 10px;
	padding: 10px;
	height: 185px;
	margin-top: 5px;
}

.rate-caption {
	font-size: 8pt;
	margin-bottom: 10px;
	text-align: center
}

.rate-user {
	text-align: left;
	vertical-align: middle;
	float: left;
	width: 50%;
}

.rate-rank {
	float: left;
	vertical-align: middle;
	width: 30%;
	text-align: left;
}

.rate-edition {
	vertical-align: middle;
	width: 20%;
	float: left
}

.footer {
	font-size: 8pt;
	padding-top: 5px;
	direction: ltr;
	text-align: center;
}

.login-main {
	background-color: #FFFF99;
	width: 260px;
	color: black;
	border-radius: 10px;
	font-size: 10pt;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

.login-lable {
	float: right;
	min-width: 65px;
	max-width: 65px;
}

.login-caption {
	margin-bottom: 15px;
	margin-top: -8px;
}

.login_input {
	margin-bottom: 5px
}

.incomplete {
	padding-right: 20px;
	color: red;
}

.incomplete-left {
	padding-left: 20px;
	color: red;
}
