{% extends 'base.html' %}

{% block title %}درباره کتاب جنگو{% endblock %}

{% block aboutbook %}درباره کتاب{% endblock %}

{% block body %}
<h3 style="margin-top: 0px; margin-bottom: 25px">درباره کتاب</h3>
<div style="text-align: justify;">
	در میان منابع موجود فارسی حال برای پایتون، همواره حلا وجود یک منبع فارسی کامل برای پایتون را احساس می کردم، تا اینکه بر این شدم تا کتاب دیگری را برای دوستداران پایتون گردآوری و تالیف کنم، و امیدوارم کتابی کامل و بی نقص را به جامعه نرم افزار آزاد ایران تقدیم کنیم..
</div>
<div style="font-size: 9pt; text-align: left; margin-top: 25px">
	امین اروجی - تابستان ۱۳۹۱
</div>
{% endblock %}
