{% extends 'base.html' %}

{% block title %}درباره کتاب جنگو{% endblock %}

{% block aboutbook %}درباره کتاب{% endblock %}

{% block body %}
<h3 style="margin-top: 0px; margin-bottom: 25px">درباره کتاب</h3>
<div style="text-align: justify;">
	روزی که یادگیری <a class="content" target="_blank" href="http://www.djangoproject.com">جنگو</a> را شروع کردم، مطالعه ی کتاب های به زبان انگلیسی برایم بسیار دشوار بود و سختی زیادی را برای فراگیری مطالب آن ها متحمل می شدم، به همین خاطر همواره این فکر که اگر منبع فارسی در اختیار داشتم چه قدر سریعتر پیشرفت می کردم فکرم را به خود مشغول می کرد، تا این که مطالبی را که مطالعه کرده بودم به صورت یادداشت هایی مختصر برای خود جمع آوری کردم. بعد از مدتی تصمیم گرفتم مطالب جمع آوری شده را در سایت آماده ای در اختیار عموم بگذارم، و این موضوع را با دوستان خود در میان گذاشتم، در همین جا بود که ایده ی کامل کردن مطالب و ایجاد یک سایت رسمی برای این منظور مطرح شد. اکنون با تلاش های بسیار این کتاب به جامعه دوست داران نرم افزارهای آزاد تقدیم شده است، امید است که در این راه ما را یاری کنید.
</div>
<div style="font-size: 9pt; text-align: left; margin-top: 25px">
	امین اروجی - بهار ۱۳۹۰
</div>
{% endblock %}
