<html>
<head>
<meta name="google-site-verification" content="s2IHDFg-ca8c0bM-UlFtaM0r8n5_rimPJb6wbbAL2vA" />
<meta name="Description" content="{% block meta %}سایت آنلاین کتاب آموزش پایتون، این کتاب اولین و کاملترین کتاب پایتون ایران می باشد{% endblock %}" />
<meta name="keywords" content="{% block keywords %}پایتون, کتاب, آموزش, ایران, فارسی, زبان, برنامه, نویسی, python, persian, book, iran, tutorial{% endblock %}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-language" content="fa" />

<link rel="shortcut icon" href="/statics/images/favicon.ico" />
<link rel="stylesheet" href="/statics/stylesheets/pythonbook.css"
				type="text/css" />

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33225400-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

{% block tuhead %}{% endblock %}
<title>
{% block title %}کتاب پایتون{% endblock %}
</title>
</head>

<body>
	<div class='main'>
		<div class="top">
			{% block main %}
				<a href="/" class="top">صفحه اصلی</a>
			{% endblock %}
			 | 
			{% block toc %}
				<a href="/pythonbook/" class="top">فهرست مطالب</a>
			{% endblock %}
			 | 

			{% block aboutbook %}
				<a href="/aboutpythonbook/" class="top">درباره کتاب</a>
			{% endblock %}
			 | 

			{% block contactus %}
				<a href="/contactus/" class="top">تماس با ما</a>
			{% endblock %}
		</div>
		
		{% block head %}{% endblock %}

		<div style="padding-bottom: 20px; padding-top: 10px;">
			<a href="http://www.pythonbook.ir/">
			<h1 style='color: white;'>کتاب پایتون</h1>
		</a></div>

		{% block khodebody %}
		<div class="aval">
			{% block body %}{% endblock %}
		</div>
		{% endblock %}

			<div class="footer">
This work is licensed under the GNU Free Document License
                                <br />
                                Copyright © 2012 - Amin Oruji (aminpy)
				{% block foot %}{% endblock %}
			</div>
<!-- Begin WebGozar.com Counter code -->
<script type="text/javascript" language="javascript" src="http://www.webgozar.ir/c.aspx?Code=2603755&amp;t=counter" ></script>
<noscript><a href="http://www.webgozar.com/counter/stats.aspx?code=2603755" target="_blank">&#1570;&#1605;&#1575;&#1585;</a></noscript>
<!-- End WebGozar.com Counter code -->
		{% block left %}{% endblock %}
	</div>
</body>
</html>
