{% extends 'chapter_base.html' %}

{% block title %}مبحث فایل{% endblock %}
{% block meta %}آموزش خواندن و نوشتن درون فایل ها و دیتابیس در زبان برنامه نویس پایتون{% endblock %}
{% block keywords %}python, book, file, read, write, database, format, string, پایتون, کتاب, فایل, نوشتن, خواندن, فرمت, رشته, پایگاه داده, دیتابیس{% endblock %}

{% block ghabli %}/pythonbook10/{% endblock %}
{% block badi %}/pythonbook12/{% endblock %}

{% block body %}
{% include 'includes/chapter11.html' %}
{% endblock %}

{% block ghabli1 %}/pythonbook10/{% endblock %}
{% block badi1 %}/pythonbook12/{% endblock %}
