{% extends 'chapter_base.html' %}

{% block title %}مبحث رشته در پایتون{% endblock %}
{% block meta %}آموزش رشته و توابع آن در زبان برنامه نویسی پایتون{% endblock %}
{% block keywords %}python, book, string, sequence, len, slice, پایتون, کتاب, آموزش, رشته{% endblock %}
{% block ghabli %}/pythonbook06/{% endblock %}
{% block badi %}/pythonbook08/{% endblock %}

{% block body %}
{% include 'includes/chapter07.html' %}
{% endblock %}

{% block ghabli1 %}/pythonbook06/{% endblock %}
{% block badi1 %}/pythonbook08/{% endblock %}
