{% extends 'base.html' %}
{% block title %}کتاب پایتون{% endblock %}
{% block meta %}کتاب پایتون، فریم ورک پایتون{% endblock %}
{% block keywords %}کتاب پایتون, کتاب فارسی جنگو, فریم ورک وب, فریم ورک پایتون, مرجع فارسی جنگو, آموزش جنگو, آموزش فارسی جنگو, pythonbook, django persian book, django farsi, web framework, django tutorial{% endblock %}
{% block main %}صفحه اصلی{% endblock %}

{% block khodebody %}
<div class="aval2">
	<div style="float: right; height: 100px">
		<h3 style="margin-bottom: 10px; margin-top:5px">
			به سایت فارسی 
			<a href="http://www.pythonbook.ir" class="content" style="font-family: b titr;">کتاب پایتون</a>
			 خوش آمدید!
		</h3>
		<p>
جنگو، فریم ورک پایتون، یک فریم ورک قدرتمند نوشته شده با زبان برنامه نویسی <a href="http://www.python.org" class="content" target="_blank">پایتون</a> می باشد که از طریق آن می توانید وب سایت ها و برنامه های تحت وب خود را با سرعتی فوق العاده و سادگی حیرت آوری تولید کنید.
		</p>
		<p>
در این کتاب سعی شده از معرفی خصوصیات تکراری و خسته کننده فریم ورک جنگو دوری کرده و مفاهیم را با زبانی ساده، همراه با مثال های کاربردی باز کنیم. در فصل های اولیه کتاب پایتون، شما با مفاهیم پایه فریم ورک جنگو آشنا خواهید شد و تا انتهای آن، مهارت بالایی در ایجاد صفحات وب با قابلیت بالا بدست خواهید آورد.
			 <a class="content" href="/toc/"><span style="font-family: b titr, b koodak; font-size: 10pt">فهرست مطالب</span></a>
		</p>
		<p>
			منابع <a href="http://www.pythonbook.com" target="_blank" class="content">
			www.pythonbook.com
			</a>
			 و <a href="https://docs.djangoproject.com/" target="_blank" class="content">
			doc.djangoproject.com
			</a>
		</p>
	</div>
</div>
{% endblock %}
{% block left %}
{% endblock %}
