{% extends 'base.html' %}
{% block title %}کتاب پایتون{% endblock %}
{% block meta %}کتاب پایتون، فریم ورک پایتون{% endblock %}
{% block keywords %}کتاب پایتون, کتاب فارسی جنگو, فریم ورک وب, فریم ورک پایتون, مرجع فارسی جنگو, آموزش جنگو, آموزش فارسی جنگو, pythonbook, django persian book, django farsi, web framework, django tutorial{% endblock %}
{% block main %}صفحه اصلی{% endblock %}

{% block khodebody %}
<div class="aval2">
	<div style="float: right; height: 100px">
		<h3 style="margin-bottom: 10px; margin-top:5px">
			به سایت فارسی 
			<a href="http://www.pythonbook.ir" class="content" style="font-family: b titr;">کتاب پایتون</a>
			 خوش آمدید!
		</h3>
		<p>
پایتون یک زبان برنامه‌نویسی همه منظوره، سطح بالا، شی گرا و مفسر است که فلسفه ایجاد آن تاکید بر دو هدف اصلی خوانایی بالای برنامه‌های نوشته شده و کوتاهی و بازدهی نسبی بالای آن است. کلمات کلیدی و اصلی این زبان به صورت حداقلی تهیه شده‌اند و در مقابل کتابخانه‌هایی که در اختیار کاربر است بسیار وسیع هستند. یک کار غیر معمول که در طراحی این زبان انجام گرفته استفاده از فاصله و جلوبردن متن برنامه برای مشخص کردن بلوک‌های مختلف کد است. 
		</p>
		<p>
پایتون مدل‌های مختلف برنامه نویسی (از جمله شیء گرا و برنامه نویسی دستوری و تابع محور) را پشتیبانی می‌کند و برای مشخص کردن نوع متغییرها از یک سامانه پویا استفاده می‌کند. این زبان از زبان‌های برنامه نویسی مفسر بوده و به صورت کامل یک زبان شی‌گرا و از مدیریت خودکار حافظه استفاده می‌کند.
		</p>
		
		<p>
در این کتاب سعی خواهیم داشت تجربه چندین سال از پایتون کاران ایران را در اختیار عموم قرار دهیم، امید است که در این راه ما را یاری کنید. 
<a class="content" href="/toc/"><span style="font-family: b titr, b koodak; font-size: 10pt">فهرست مطالب</span></a>
		</p>
		
	</div>
</div>
{% endblock %}
{% block left %}
{% endblock %}
