{% extends 'base.html' %}

{% block title %}فهرست کتاب پایتون{% endblock %}
{% block toc %}فهرست مطالب{% endblock %}
{% block keywords %}کتاب پایتون, کتاب فارسی پایتون, مرجع فارسی پایتون, آموزش پایتون, آموزش فارسی پایتون, pythonbook, python persian book, python farsi, python tutorial{% endblock %}

{% block khodebody %}
<div class="aval">
	<div>
		<h2 style="text-align: center; margin-bottom: 20px">فهرست مطالب</h2>
	</div>
    <div class='indexright'>
        <a href='/pythonbook01/' class='index'>متغیرها، عبارات و جمله ها</a>
    </div>
    <div class="indexleft">
        <a href='/pythonbook01/' class='index'>Variables, Expressions, and Statements</a>
    </div>

	<div class="toc-high">
	    <div class='indexright'>
	        <a href='/pythonbook02/' class='index'>توابع در پایتون</a>
<!-- 	        <span class="incomplete">توابع در پایتون (در دست تالیف)</span> -->
	    </div>
	    <div class="indexleft">
	        <a href='/pythonbook02/' class='index'>Functions</a>
<!-- 	        <span class="incomplete-left">Functions</span> -->
	    </div>
	</div>
    
    <div class='indexright'>
<!--         <a href='/pythonbook03/' class='index'>طراحی رابط</a> -->
        <span class="incomplete">طراحی رابط (در دست تالیف)</span>
    </div>
    <div class="indexleft">
<!--         <a href='/pythonbook03/' class='index'>Interface Design</a> -->
		<span class="incomplete-left">Interface Design</span>
    </div>

	<div class="toc-high">
    <div class='indexright'>
<!--         <a href='/pythonbook04/' class='index'>شرط ها و بازگشت ها</a> -->
		<span class="incomplete">شرط ها و بازگشت ها (در دست تالیف)</span>
    </div>
    <div class="indexleft">
<!--         <a href='/pythonbook04/' class='index'>Conditionals and Recursion</a> -->
		<span class="incomplete-left">Conditionals and Recursion</span>
    </div>
	</div>
    
    <div class='indexright'>
<!--         <a href='/pythonbook05/' class='index'>توابع مفید</a> -->
		<span class="incomplete">توابع مفید (در دست تالیف)</span>
    </div>
    <div class="indexleft">
<!--         <a href='/pythonbook05/' class='index'>Fruitful Functions</a> -->
		<span class="incomplete-left">Fruitful Functions</span>
    </div>

	<div class="toc-high">
    <div class='indexright'>
<!--         <a href='/pythonbook06/' class='index'>تکرار</a> -->
		<span class="incomplete">تکرار (در دست تالیف)</span>
    </div>
    <div class="indexleft">
<!--         <a href='/pythonbook06/' class='index'>Iteration</a> -->
		<span class="incomplete-left">Iteration</span>
    </div>
	</div>
    
    <div class='indexright'>
        <a href='/pythonbook07/' class='index'>رشته ها</a>
<!-- 		رشته ها -->
    </div>
    <div class="indexleft">
        <a href='/pythonbook07/' class='index'>Strings</a>
<!-- 		Strings -->
    </div>

	<div class="toc-high">
	    <div class='indexright'>
	<!--         <a href='/pythonbook08/' class='index'>لیست ها</a> -->
			<span class="incomplete">لیست ها (در دست تالیف)</span>
	    </div>
	    <div class="indexleft">
	<!--         <a href='/pythonbook08/' class='index'>Lists</a> -->
			<span class="incomplete-left">Lists</span>
	    </div>
	</div>
    
    <div class='indexright'>
<!--         <a href='/pythonbook09/' class='index'>دیکشنری ها</a> -->
		<span class="incomplete">دیکشنری ها (در دست تالیف)</span>
    </div>
    <div class="indexleft">
<!--         <a href='/pythonbook09/' class='index'>Dictionaries</a> -->
		<span class="incomplete-left">Dictionaries</span>
    </div>

	<div class="toc-high">
    <div class='indexright'>
<!--         <a href='/pythonbook10/' class='index'>تاپل ها</a> -->
		<span class="incomplete">تاپل ها (در دست تالیف)</span>
    </div>
    <div class="indexleft">
<!--         <a href='/pythonbook10/' class='index'>Tuples</a> -->
		<span class="incomplete-left">Tuples</span>
    </div>
	</div>
    
    <div class='indexright'>
        <a href='/pythonbook11/' class='index'>فایل ها</a>
<!-- 		<span class="incomplete">فایل ها (در دست تالیف)</span> -->
    </div>
    <div class="indexleft">
        <a href='/pythonbook11/' class='index'>Files</a>
<!-- 		<span class="incomplete-left">Files</span> -->
    </div>

	<div class="toc-high">
    <div class='indexright'>
<!--         <a href='/pythonbook12/' class='index'>کلاس ها آبجکت ها</a> -->
		<span class="incomplete">کلاس ها آبجکت ها (در دست تالیف)</span>
    </div>
    <div class="indexleft">
<!--         <a href='/pythonbook12/' class='index'>Classes and Objects</a> -->
		<span class="incomplete-left">Classes and Objects</span>
    </div>
	</div>
    
    <div class='indexright'>
<!--         <a href='/pythonbook13/' class='index'>کلاس ها و توابع</a> -->
		<span class="incomplete">کلاس ها و توابع (در دست تالیف)</span>
    </div>
    <div class="indexleft">
<!--         <a href='/pythonbook13/' class='index'>Classes and Functions</a> -->
		<span class="incomplete-left">Classes and Functions</span>
    </div>

	<div class="toc-high">
    <div class='indexright'>
<!--         <a href='/pythonbook14/' class='index'>کلاس ها و متدها</a> -->
		<span class="incomplete">کلاس ها و متدها (در دست تالیف)</span>
    </div>
    <div class="indexleft">
<!--         <a href='/pythonbook14/' class='index'>Classes and Methods</a> -->
		<span class="incomplete-left">Classes and Methods</span>
    </div>
	</div>
    
    <div class='indexright'>
<!--         <a href='/pythonbook15/' class='index'>ارث بری</a> -->
		<span class="incomplete">ارث بری (در دست تالیف)</span>
    </div>
    <div class="indexleft">
<!--         <a href='/pythonbook15/' class='index'>Inheritance</a> -->
		<span class="incomplete-left">Inheritance</span>
    </div>
</div>
{% endblock %}
