{% extends 'base.html' %}

{% block title %}فهرست کتاب پایتون{% endblock %}
{% block toc %}فهرست مطالب{% endblock %}
{% block keywords %}کتاب پایتون, کتاب فارسی پایتون, مرجع فارسی پایتون, آموزش پایتون, آموزش فارسی پایتون, pythonbook, python persian book, python farsi, python tutorial{% endblock %}

{% block khodebody %}
<div class="aval">
	<div>
		<h2 style="text-align: center; margin-bottom: 20px">
			فهرست مطالب
		</h2>
	</div>
	    <div class='indexright'>
	        <a href='/chapter01/' class='index'>فصل اول: متغیرها، عبارات و جمله ها</a>
	    </div>
	    <div class="indexleft">
	        <a href='/chapter01/' class='index'>Chapter 1: Variables, Expressions, and Statements</a>
	    </div>

	<div class="toc-high">
	    <div class='indexright'>
	        <a href='/chapter02/' class='index'>فصل دوم:‌ توابع</a>
	    </div>
	    <div class="indexleft">
	        <a href='/chapter02/' class='index'>Chapter 2: Functions</a>
	    </div>
	</div>
    
	    <div class='indexright'>
	        <a href='/chapter03/' class='index'>فصل سوم: طراحی رابط</a>
        </div>
	    <div class="indexleft">
	        <a href='/chapter03/' class='index'>Chapter 3: Interface Design</a>
	    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/chapter04/' class='index'>فصل چهارم: شرط ها و بازگشت ها</a>
    </div>
    <div class="indexleft">
        <a href='/chapter04/' class='index'>Chapter 4: Conditionals and Recursion</a>
    </div>
	</div>
    
	    <div class='indexright'>
	        <a href='/chapter05/' class='index'>فصل پنجم: توابع مفید</a>
	    </div>
	    <div class="indexleft">
	        <a href='/chapter05/' class='index'>Chapter 5: Fruitful Functions</a>
	    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/chapter06/' class='index'>فصل ششم: تکرار</a>
    </div>
    <div class="indexleft">
        <a href='/chapter06/' class='index'>Chapter 6: Iteration</a>
    </div>
	</div>
    
	    <div class='indexright'>
	        <a href='/chapter07/' class='index'>فصل هفتم:‌ رشته ها</a>
	    </div>
	    <div class="indexleft">
	        <a href='/chapter07/' class='index'>Chapter 7: Strings</a>
	    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/chapter08/' class='index'>فصل هشتم: لیست ها</a>
    </div>
    <div class="indexleft">
        <a href='/chapter08/' class='index'>Chapter 8: Lists</a>
    </div>
	</div>
    
	    <div class='indexright'>
	        <a href='/chapter09/' class='index'>فصل نهم: دیکشنری ها</a>
	    </div>
	    <div class="indexleft">
	        <a href='/chapter09/' class='index'>Chapter 9: Dictionaries</a>
	    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/chapter10/' class='index'>فصل دهم: تاپل ها</a>
    </div>
    <div class="indexleft">
        <a href='/chapter10/' class='index'>Chapter 10: Tuples</a>
    </div>
	</div>
    
	    <div class='indexright'>
	        <a href='/chapter11/' class='index'>فصل یازدهم: فایل ها</a>
	    </div>
	    <div class="indexleft">
	        <a href='/chapter11/' class='index'>Chapter 11: Files</a>
	    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/chapter12/' class='index'>فصل دوازدهم:‌ کلاس ها آبجکت ها</a>
    </div>
    <div class="indexleft">
        <a href='/chapter12/' class='index'>Chapter 12: Classes and Objects</a>
    </div>
	</div>
    
	    <div class='indexright'>
	        <a href='/chapter13/' class='index'>فصل سیزدهم: کلاس ها و توابع</a>
	    </div>
	    <div class="indexleft">
	        <a href='/chapter13/' class='index'>Chapter 13: Classes and Functions</a>
	    </div>

	<div class="toc-high">
    <div class='indexright'>
        <a href='/chapter14/' class='index'>فصل چهاردهم: کلاس ها و متدها</a>
    </div>
    <div class="indexleft">
        <a href='/chapter14/' class='index'>Chapter 14: Classes and Methods</a>
    </div>
	</div>
    
	    <div class='indexright'>
	        <a href='/chapter15/' class='index'>فصل پانزدهم: ارث بری</a>
	    </div>
	    <div class="indexleft">
	        <a href='/chapter15/' class='index'>Chapter 15: Inheritance</a>
	    </div>
</div>
{% endblock %}
